@charset "utf-8";

html, body {
  margin: 0;
  width: 100%;
  text-align: center;
  background-color: #1a1a1a;
  box-sizing: border-box;
  overflow: hidden;
}

.smart-player-embed-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 878px;
  text-align: center;
  height: 0;
  overflow: hidden;
  padding-top: calc(480 / 878 * 100%);
  position: relative;
}

.smart-player-embed-iframe {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 878px;
  max-height: 480px;
}

.smart-player-embed-iframe:-ms-fullscreen { 
  max-width: 100%;
  max-height: 100%;
  text-align: center;
}

@media screen and ( max-height: 480px )
{
   .smart-player-embed-iframe {
     max-height: 100vh;
	 text-align: center;
   }
}